<section class="flex gap-6 py-10 w-full p-4 justify-center place-items-start mx-auto">
    <div class="bg-[#000F1A] rounded-xl   lg:p-8 md:p-8 p-8 shadow-3xl  space-y-4 text-left lg:w-[30%] w-full mx-auto  m-6 gap-5">
       <img src="assets/image/profile-img.jpg" class="w-20 h-20 mx-auto rounded-full" alt="">
       <h2 class="text-white font-bold text-3xl text-center ">SonsWeb</h2>
       <p class="text-white opacity-40 text-center flex justify-center">example321&#64;gmail.com</p>
       <div class="flex gap-3 justify-center">
          <img src="assets/image/code.png" class="w-5" alt="">
          <p class="text-white opacity-40">Pradeep</p>
       </div>
       <div className="flex justify-center mt-6 w-full">
          <button type="button" class=" mt-6 text-white bg-[#8E43ED]  px-1 py-2 text-lg rounded-lg justify-center items-center space-x-1 w-fit overflow-hidden relative inline-flex group cursor-pointer" style="width: 100%;">
                Logout
          </button>
      </div>
    </div>
    <div class="bg-[#000F1A] rounded-xl  lg:p-8 md:p-8 p-8 shadow-3xl  space-y-4 text-left lg:w-[70%] w-full mx-auto  m-6 gap-5">
      <div>
          <h2 class="text-white text-2xl font-bold">Github Stats</h2>
          <div class="grid  gap-6 lg:grid-cols-2 md:grid-cols-2 ">
                <div class="bg-[#202329] rounded-xl  lg:p-4
                 md:p-4 p-4 shadow-3xl   w-full mx-auto  gap-5">
                    <h3 class="text-[#57BDD9] text-xl font-bold">Pargat Singh github statshd</h3>
                    <div class="flex items-center justify-between  ">
                          <div class="flex gap-10 items-center m-0 ">
                              <ul class="text-white space-y-2 text-sm font-bold">
                                  <li>Total Stars: </li>
                                  <li>Total Commit: </li>
                                  <li>Total Prs:</li>
                                  <li>Total Prs:</li>
                              </ul>
                              <ul class="text-white space-y-2 text-sm font-bold">
                                <li>10 </li>
                                <li>8</li>
                                <li>7</li>
                                <li>4</li>
                            </ul>
                            </div>
                          <div class="radialProgressBar progress-90">
                              <div class="overlay">A+</div>
                            </div>
                        </div>
                </div>
                <div class="bg-[#202329] rounded-xl  lg:p-4
                md:p-4 p-4 shadow-3xl   w-full mx-auto  gap-5 flex justify-between">
                <div class="border-r-[1px] pr-3 flex flex-col items-center justify-center">
                  <h3 class="text-[#57BDD9] text-xl font-bold text-center">654</h3>
                  <p class="text-sm text-[#57BDD9] text-center">Total Contributions</p>
                  <p class="text-white text-sm text-center">Aug 23 , 2019 - Present</p>
                </div>
                <div class="border-r-[1px] pr-3 flex flex-col items-center justify-center">
                  <div class="streak progress-streak">
                      <div class="streak-overlay">1</div>
                    </div>
                  <p class="text-[#57BDD9] text-sm font-bold text-center">Current Streak</p>
                  <p class="text-[#fff] text-sm  text-center">June 8</p>
                </div>
                <div class=" flex flex-col items-center justify-center">
                  <h3 class="text-[#57BDD9] text-xl font-bold text-center">654</h3>
                  <p class="text-sm text-[#57BDD9] text-center">Longest Streak</p>
                  <p class="text-white text-sm text-center">june 8 - May23</p>
                </div>    
               </div>
          </div>
      </div>

      <div>
          <h2 class="text-white text-2xl font-bold">My Files</h2>
          <div class="grid  gap-6 lg:grid-cols-4 md:grid-cols-2 mt-3 ">
                <div class="bg-[#202329] rounded-xl  lg:p-3
                 md:p-3 p-3 shadow-3xl   w-full mx-auto  gap-5">
                    <div class="flex flex-col items-start justify-between  ">
                          <div class="flex gap-2 items-center m-0 ">
                              <ul class="text-white space-y-2 text-sm ">
                                  <li>Name : </li>
                                  <li>Lang : </li>
                              </ul>
                              <ul class="text-[#8E43ED] space-y-2 text-sm ">
                                <li>Kanpacjf</li>
                                <li>CPP</li>
                            </ul>
                            </div>
                            <div class="flex gap-5 items-center justify-between mt-3 ">
                              <ul class="text-white space-y-2 text-sm">
                                  <li>Date: 03/05/2023</li>
                              </ul>
                              <ul class="text-[#8E43ED] space-y-2 text-sm ">
                                <li class="text-[#FF0000]"><i class="bi bi-trash-fill"></i></li>
                            </ul>
                            </div>
                        </div>
                </div>
                <div class="bg-[#202329] rounded-xl  lg:p-3
                md:p-3 p-3 shadow-3xl   w-full mx-auto  gap-5">
                   <div class="flex flex-col items-start justify-between  ">
                         <div class="flex gap-2 items-center m-0 ">
                             <ul class="text-white space-y-2 text-sm ">
                                 <li>Name : </li>
                                 <li>Lang : </li>
                             </ul>
                             <ul class="text-[#8E43ED] space-y-2 text-sm ">
                               <li>Kanpacjf</li>
                               <li>CPP</li>
                           </ul>
                           </div>
                           <div class="flex gap-5 items-center justify-between mt-3 ">
                             <ul class="text-white space-y-2 text-sm ">
                                 <li>Date: 03/05/2023</li>
                             </ul>
                             <ul class="text-[#8E43ED] space-y-2 text-sm font-bold">
                               <li class="text-[#FF0000]"><i class="bi bi-trash-fill"></i></li>
                           </ul>
                           </div>
                       </div>
               </div>
               <div class="bg-[#202329] rounded-xl  lg:p-3
               md:p-3 p-3 shadow-3xl   w-full mx-auto  gap-5">
                  <div class="flex flex-col items-start justify-between  ">
                        <div class="flex gap-2 items-center m-0 ">
                            <ul class="text-white space-y-2 text-sm ">
                                <li>Name : </li>
                                <li>Lang : </li>
                            </ul>
                            <ul class="text-[#8E43ED] space-y-2 text-sm ">
                              <li>Kanpacjf</li>
                              <li>CPP</li>
                          </ul>
                          </div>
                          <div class="flex gap-5 items-center justify-between mt-3 ">
                            <ul class="text-white space-y-2 text-sm ">
                                <li>Date: 03/05/2023</li>
                            </ul>
                            <ul class="text-[#8E43ED] space-y-2 text-sm ">
                              <li class="text-[#FF0000]"><i class="bi bi-trash-fill"></i></li>
                          </ul>
                          </div>
                      </div>
              </div>
              <div class="bg-[#202329] rounded-xl  lg:p-3
              md:p-3 p-3 shadow-3xl   w-full mx-auto  gap-5">
                 <div class="flex flex-col items-start justify-between  ">
                       <div class="flex gap-2 items-center m-0 ">
                           <ul class="text-white space-y-2 text-sm ">
                               <li>Name : </li>
                               <li>Lang : </li>
                           </ul>
                           <ul class="text-[#8E43ED] space-y-2 text-sm ">
                             <li>Kanpacjf</li>
                             <li>CPP</li>
                         </ul>
                         </div>
                         <div class="flex gap-5 items-center justify-between mt-3 ">
                           <ul class="text-white space-y-2 text-sm ">
                               <li>Date: 03/05/2023</li>
                           </ul>
                           <ul class="text-[#8E43ED] space-y-2 text-sm font-bold">
                             <li class="text-[#FF0000]"><i class="bi bi-trash-fill"></i></li>
                         </ul>
                         </div>
                     </div>
             </div>
             <div class="bg-[#202329] rounded-xl  lg:p-4
             md:p-34 p-4 shadow-3xl   w-full mx-auto  gap-5">
                <div class="flex flex-col items-start justify-between  ">
                      <div class="flex gap-2 items-center m-0 ">
                        </div>
                        <div class="flex gap-5 items-center justify-center text-center mx-auto ">
                           <p class="text-center flex text-white items-center justify-center w-14 h-14 bg-[#8E43ED] rounded-full text-3xl "><i class="bi bi-plus"></i></p>
                        </div>
                    </div>
            </div>
             
          </div>
      </div>
         
    </div>
</section>